<!-- <div id="page" class="page innerpage">
    <app-header></app-header>
    <div class="clearfix">
        <app-sidebar></app-sidebar>
        <div class="innerpage-content">
            <div class="wrapper">
                <div class="patten-content">
                    <div class="content"> -->
                            <app-header></app-header>
                        <router-outlet></router-outlet>
                    <!-- </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div> -->
